:root {
    --bg-color-primary: #e2e2e2;
    --text-color: #000;
    --table-head-color: #14d123;
    --table-body-primary: #14d123;
    --table-body-secondary: #14d123;
}

@media  (prefers-color-scheme: dark) {
    :root {
        --bg-color-primary: #29292b;
        --text-color: #fff;
    }
}