<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div id="login-form">
        <form>
            <section>
                <label for="identifier">Username</label>
                <input id="identifier" name="username" type="text" autocomplete="username" required autofocus>
            </section>
            <section>
                <label for="password">Password</label>
                <input id="password" name="password" type="password" autocomplete="current-password" required>
            </section>
            <button type="submit">Sign in</button>
        </form>
        <hr>
    </div>
    <footer class="info">
        <p>Created by <a href="https://www.noroff.no/en/">Noroff</a></p>
        <p>Part of Back-end Development Program at Noroff</p>
    </footer>
</body>
</html>